body {
	font-family: sans-serif;
}
#listing_cards {
	width: 1260px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.listing {
	width: 400px;
	height: 370px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #ddd;
}
.listing:hover {
	box-shadow: 0px 5px 10px #bbb;
	cursor: pointer;
}
.listing img {
	width: 400px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
}
.listing div {
	margin: 5px;
	margin-left: 20px;
}
.price {
	font-size: 16pt;
	font-weight: bold;
}