/* Common styling */
body {
	margin: 0;
	font-family: sans-serif;
}


/* Styling for page header/footer */
.main-header {
	width: 100vw;
	margin: 0px;
	position: sticky;
	top: 0;
	background-color: #000000;
	padding: 20px;
	color: #ffffff;
	z-index: 10;
}
.main-header a {
	color: #fff;
}
footer {
	text-align: center;
	margin-top: 20px;
}


/* Styling for listing cards */
#listing_cards {
	width: 1260px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.listing {
	width: 400px;
	height: 370px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #ddd;
	transition: 0.5s ease;
	position: relative;
}
.listing:hover {
	box-shadow: 0px 5px 10px #aaa;
	transition: 0.5s ease;
	cursor: pointer;
}
.listing img {
	width: 400px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
}
.listing div {
	margin: 5px;
	margin-left: 20px;
}
.price {
	font-size: 16pt;
	font-weight: bold;
}
.wl_button {
	padding: 10px;
	border-radius: 100%;
	position: absolute;
	top: 180px;
	right: 10px;
	background-color: #fff;
	opacity: 75%;
}
.wl_button:hover {
	opacity: 100%;
	background-color: gold;
	transition: 0.5s ease;
}
.wl_button img {
	width: 25px;
	height: 25px;
}


/* Styling for listing details */
#listing_details {
	width: 1260px;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #ddd;
	display: flex;
	overflow: hidden;
	position: relative;
}
#listing_details img {
	width: 960px;
	height: 500px;
	margin: 0px;
	object-fit: cover;
	transition: 0.5s ease;
	display: block;
}
#listing_details img:hover {
	opacity: 85%;
	transition: 0.5s ease;
	cursor: pointer;
}
#ld_text {
	font-size: 18pt;
	width: 300px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
#ld_text span {
	font-weight: bold;
	margin-left: 60px;
}
#ld_price {
	font-size: 32pt;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
#ld_address {
	font-size: 14pt;
	text-align: center;
	width: 100%;
}
#listing_content {
	width: 1260px;
	margin: auto;
	display: flex;
}
#lc_desc {
	width: 620px;
	height: 200px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #ddd;
	position: relative;
}
#lc_desc_fade {
	width: 600px;
	height: 200px;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		white 0%,
		transparent 10%,
		transparent 90%,
		white 100%
	);
	position: absolute;
	z-index: 1;
	pointer-events: none;
}
#lc_desc_text {
	width: 580px;
	height: 200px;
	top: 0;
	left: 0;
	padding: 0 20px 0 20px;
	overflow-y: scroll;
	position: absolute;
	margin: 0;
}
#lc_desc_title {
	width: 1240px;
	margin: auto;
	padding-left: 20px;
}
#lc_facts {
	width: 300px;
	height: 200px;
	margin-left: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #ddd;
	text-align: center;
}
#lc_facts img {
	width: 30px;
	height: 30px;
	margin: 19px;
}
#lc_wish_list {
	width: 300px;
	height: 200px;
	margin-left: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 10px #ddd;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
}
#lc_wish_list img {
	width: 60px;
	height: 60px;
	margin: 35px;
}
#lc_wish_list:hover {
	background: gold;
	transition: 0.5s ease;
	cursor: pointer;
}
#back_button {
	font-weight: bold;
	padding: 15px;
	border-radius: 0 0 5px 5px;
	background-color: #ddd;
	transition: 0.3s ease;
	position: absolute;
	top: 0;
	left: 20px;
}
#back_button:hover {
	background-color: #fff;
	transition: 0.3s ease;
	cursor: pointer;
}


/* Styling for modal image gallery */
#gallery {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.7);
}
#gallery_content {
	position: relative;
	background-color: #fefefe;
	border-radius: 5px;
	margin: auto;
	padding: 0;
	width: 90%;
	overflow: hidden;
	max-width: 1200px;
	max-height: 700px;
}
.slide {
	border-radius: 10px;
	box-shadow: 0px 5px 10px #aaa;
	display: none;
}
.slide div {
	color: #f2f2f2;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.slide img {
	width: 100%;
	height: 700px;
	object-fit: cover;
	display: block;
}
#prev,
#next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 30px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 32px;
	text-shadow: 1px 1px 2px #000;
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.5s ease;
	border-radius: 0 5px 5px 0;
	user-select: none;
	-webkit-user-select: none;
}
#next {
	right: 0;
	border-radius: 5px 0 0 5px;
}
#prev:hover,
#next:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
#close {
	color: #777;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}
#close:hover,
#close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}